*{
    padding: 0%;
    margin: 0%;
    background-color: teal;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding: 10%;
}
.contenido{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    text-align: center;
    color: black;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .imagen1{
    width: 150px;
    height: 150px;
    padding: 10%;
  }
  .imagen2{
    width: 150px;
    height: 150px;
    padding: 10%;
  }
  .texto1{
    font-size: 150%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(red, blue);
  }
  @media (max-width: 480px) {
}

@media (min-width: 1024px) {
}
